@page "/"
@using Estral.Host.Web.Infra.Extensions
@model Estral.Host.Web.Features.Pages.Home.IndexModel
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = "Estral host";
}

<article style="display: flex; flex-direction: column; gap: 0.5em; align-items: center;">
    <h2>
        moi
    </h2>
    <p>
        Estral Host is an image host website
    </p>
    <a href="/content/browse" class="link">
        Browse content
    </a>
    <a href="https://github.com/svee4/estral.host" class="link">
        View on Github
    </a>
    @if (User.IsAuthenticated())
    {
        <p>Logged in as @User.GetUsername()</p>
    }
    else
    {
        <a href="/auth/login" class="link">Log in to upload</a>
    }
</article>
