@page "/Auth/AccessDenied"
@model Estral.Host.Web.Features.Pages.Auth.AccessDenied.AccessDeniedModel
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = "Access denied";
}

<h2>
    403: Access denied
</h2>
