@page "/User/{id:int}"
@using Estral.Host.Web.Infra.Extensions
@model Estral.Host.Web.Features.Pages.User.UserModel
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = Model.NotFound ? "User not found" : Model.UserData.UserName;
}

@section Head {
    <link rel="stylesheet" href="/user.css" />
}

<article style="width: var(--default-page-width)">
    @if (Model.NotFound)
    {
        <h2>404: User not found</h2>
    }
    else
    {
        <h2>@Model.UserData.UserName</h2>
        <p>
            @Model.UserData.ProfileDescription
        </p>
        <a href="/browse?userId=@(Model.UserData.Id)">Browse uploads</a>
    }
</article>
