@page "/User/{id:int}"
@using Estral.Host.Web.Infra
@using Estral.Host.Web.Infra.Extensions
@model Estral.Host.Web.Features.Pages.User.UserModel
@inject StorageHelper storageHelper

@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = Model.NotFound ? "User not found" : Model.UserData.UserName;
}

@section Head {
    <link rel="stylesheet" href="/user.css" />
}

<article style="width: var(--default-page-width); display: flex; flex-direction: column; gap: 0.75em;">
    @if (Model.NotFound)
    {
        <h2>404: User not found</h2>
    }
    else
    {
        <div style="display: flex; gap: 1em;">
            <img src="@storageHelper.GetCdnPfpUrl(Model.UserData.Id)" style="width: 52px; height: 52px" />
            <h2>@Model.UserData.UserName</h2>
        </div>
        <p>
            @Model.UserData.ProfileDescription
        </p>
        @if (Model.IsCurrentUser)
        {
            <a href="/settings" class="link">Settings</a>
        }

        <a href="/content/browse?userId=@(Model.UserData.Id)" class="link">Browse uploads</a>
    }
</article>
