@page "/Boring/Terms"
@model Estral.Host.Web.Features.Pages.Boring.Terms.TermsModel

<article style="display: flex; flex-direction: column; gap: 0.5em;
                width: var(--default-page-width); margin-left: auto; margin-right: auto;">
    <h1>
        Terms of Service
    </h1>

    <p>Effective date: 2024/06/17</p>

    <h2>
        Introduction
    </h2>

    <p>
        By accessing or using our websites and services ("Services"), you agree to be bound by these Terms of Service ("Terms").
        Please read them carefully. If you do not agree with these Terms, you may not use our Services.
    </p>

    <h2>
        Acceptance of Terms
    </h2>
    <p>
        By creating an account, logging in with Discord, uploading images and GIFs, or sharing content on this website, you accept and agree to comply with these Terms.
    </p>

    <h2>
        User Conduct
    </h2>

    <h3>
        By using our website, you agree not to:
    </h3>
    <p>
        <ul style="list-style-position: inside;">
            <li>
                Upload any content that is illegal, harmful, threatening, abusive, harassing, defamatory, vulgar, 
                obscene, invasive of another's privacy, or otherwise objectionable.
            </li>
            <li>
                Upload or share any content that you do not have the right to make available under any law or contractual or fiduciary relationships.
            </li>
            <li>
                Impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity.
            </li>
            <li>
                Upload or share any content that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party.
            </li>
            <li>
                Use our Services to engage in any unlawful or prohibited activities.
            </li>
        </ul>
    </p>

    <h2>
        Intellectual Property Rights and Legality of Uploaded Content
    </h2>
    <h3>
        Content Ownership and License
    </h3>
    <p>
        You retain ownership of any images, GIFs, and other content you upload or share on our website.
        In order for us to provide these Services, by uploading or sharing content you grant us a worldwide, non-exclusive,
        royalty-free license to use, display, reproduce, and distribute your content in connection with the operation of our Services.
        Content you upload will be publicly viewable by anyone using our Services.
    </p>

    <h3>
        Intellectual Property Compliance
    </h3>
    <p>
        You may not upload content that you do not own or have obtained all necessary rights, licenses, consents, and permissions to use
        and authorize us to use the content as described in these Terms.
        You may not upload any content that infringes upon the intellectual property rights of others.
        You agree to comply with all applicable laws and regulations when uploading and sharing content on our website.
    </p>

    <h3>
        Violation of Intellectual Property Rights
    </h3>
    <p>
        We respect the intellectual property rights of others and expect our users to do the same.
        If we receive a complaint or have reason to believe that content you have uploaded infringes upon the intellectual property rights of others,
        we reserve the right to remove or disable access to such content without prior notice and at our sole discretion.
    </p>

    <h2>
        Privacy Policy
    </h2>
    <p>
        Our Privacy Policy explains how we collect, use, and protect your personal information. By using our Services, you agree to the terms of our Privacy Policy.
    </p>

    <h2>
        Termination
    </h2>
    <p>
        We reserve the right to delete any of your uploaded content or terminate or suspend your account and access to our Services at our sole discretion,
        without prior notice or liability, for any reason, including if you violate these Terms.
        Any part of our Services may be terminated at any time withot prior notice.
    </p>

    <h2>
        Disclaimer of Warranties
    </h2>
    <p>
        Our Services are provided "as is" and "as available" without warranties of any kind, either express or implied.
    </p>

    <h2>
        Changes to Terms
    </h2>
    <p>
        We reserve the right to modify these Terms at any time.
        We will notify you of any changes by posting the new Terms on this page and updating the "Effective Date" at the top of these Terms.
        Your continued use of our Services after any changes constitutes your acceptance of the new Terms.
    </p>
</article>
