@page "/Boring/Privacy"
@model Estral.Host.Web.Features.Pages.Boring.Privacy.PrivacyModel
@{
    ViewData[Estral.Host.Web.Infra.ViewDataKeys.Title] = "Privacy policy";
}

<article style="width: var(--default-page-width); margin-left: auto; margin-right: auto;
                display: flex; flex-direction: column; gap: 0.5em;">

    <h2>Privacy policy</h2>
    <p>2024/06/17</p>
    <p>
        This website may collect the following information of you:
        <ul style="list-style-position: inside;">
            <li>
                Discord username: collected when you log in for the first time, in order to give you a default username.
                This username will be publicly viewable by anyone on this website, but you may change it after logging in.
            </li>
            <li>
                Discord user id: collected when you log in, in order to connect your discord account to your host.estral.fi account, so you can log in with it.
            </li>
            <li>
                Ip address: collected and logged connected to your host.estral.fi account
                when you do some actions, for example uploading or deleting content.
            </li>
        </ul>
    </p>
    <p>
        This website uses Cloudflare. Please see the <a href="https://www.cloudflare.com/privacypolicy/" class="link" target="_blank">Cloudflare privacy policy</a>
    </p>
</article>
