@page "/Auth/Login"
@model Estral.Host.Web.Features.Pages.Auth.Login.LoginModel

<article id="page">
    <a href="@Model.Url" class="button">
        Log in with discord
    </a>
</article>

<style>
    #page {
        display: flex;
        justify-content: center;
    }

    #page a {
        --bg: var(--orange-lightest);
        --bg-hover: var(--platinum);
    }
</style>
