@page "/Auth/Login"
@model Estral.Host.Web.Features.Pages.Auth.Login.LoginModel

<article id="page">
    <p>
        By logging in, you agree to the 
        <a href="/boring/privacy" class="link">privacy policy</a> 
        and 
        <a href="/boring/terms" class="link">terms of service</a>
    </p>
    <a href="@Model.Url" class="button">
        Log in with discord
    </a>
</article>

<style>
    #page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    #page a {
        --bg: var(--orange-lightest);
        --bg-hover: var(--platinum);
    }
</style>
